# ignore everything
*

# except these files
!.chefconfig
!.editorconfig
!.gitattributes
!.gitignore
!.kitchen.yml
!.travis.yml
!Berksfile
!Berksfile.lock
!build-basebox.sh
!LICENSE.TXT
!metadata.rb
!node.json
!README
!Vagrantfile
!Vagrantfile.yml.example
