#
# Create Vagrantfile.yml to override default settings
#
# List of themes at https://github.com/hexojs/hexo/wiki/Themes
#
---
hexo:
  install_demo  : true
  theme_git_url : https://github.com/kywk/hexo-theme-casper.git

vm:
  hostname      : hexo
  ip_address    : 10.25.83.66
